@model OrdersMVC.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <h4>Products in this Order</h4>
    @if (Model.OrderProducts != null && Model.OrderProducts.Any())
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderProducts.FirstOrDefault().Product.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderProducts.FirstOrDefault().Product.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderProducts.FirstOrDefault().Product.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderProducts.FirstOrDefault().Product.ProductQuantityInStock)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderProducts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductQuantityInStock)
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <p>No products found for this order.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
